@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #19191b;

  /* background-color: white; */
}

.logo {
  width: 5rem;
  height: 5rem;
}
nav .links {
  color: rgba(255, 255, 255, 0.7);
  font-family: Nunito Sans;
  font-size: 1rem;
}
